@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Caveat:wght@400..700&family=Rubik+Burned&display=swap');

.notes-header{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.notes-header p{
    height: 30%;
    width: 100%;
    text-decoration: none;
    /* text-align: end; */
    padding-right: 2rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.notes-header h1{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Burned", system-ui;
    letter-spacing: 5px;
    font-size: 2.5rem;
}

